<html>
<head>
<title>asdf
</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<h1><center>This is it</center></h1>
<form action = "{{ url_for('stuff') }}" method = "post">
    Time:<input type="datetime-local" value="1996-12-19T16:39:57-08:00" name = "time">
    Name:<input type="text" name="name">
    <button>submit</button>
</form>

send this link to add people:
/{{u}}
{{userface}}\\
{{persons}}

Mutual_times<br>
{{timelist}}

</body>

</html>